
body{
 background:http://ku.90sjimg.com/back_pic/00/01/97/98560e6f8bd942e.jpg!/watermark/text/OTDorr7orqE=/font/simkai/align/southeast/opacity/20/size/50(./images/background.jpg)  no-repeat center center;
 background-size:cover;
 background-attachment:fixed;
}
